@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');

.header_div{
    background-image: linear-gradient(to right,yellow,orange,deeppink,purple,deeppink,orange,yellow);
}
body{
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    text-align: center;
    color: cornsilk;
    text-shadow: 2px 2px #000000;
    background-image: linear-gradient(to right,rgb(181, 154, 255),violet,lightpink,rgb(255, 229, 180),lightyellow,rgb(255, 229, 180),lightpink,violet,rgb(181, 154, 255));
}
h2{
    background: transparent;
    font-family: 'Pushster', cursive;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-style: wavy;
    margin-bottom: 15px;
    color: transparent;

/*For Gradient Text*/
    background: -webkit-linear-gradient(82.5deg,rgb(255, 147, 214) 50%, rgb(255, 230, 0) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
button{
    background: linear-gradient(lightblue,rgb(0, 183, 255),rgb(0, 89, 255));
    font-family: 'Baloo Bhaina 2', cursive;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    border-top: 5px,black;
    border-right: 5px,black;
    color: black;
}
button:hover{
    background: linear-gradient(rgb(0,89,255),rgb(0,183,255),lightblue);
    color: cornsilk;
}
h3{
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 2px 4px #424242;
    color:black;
}
h4{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 3px 2px 4px #424242;
    color:black;
}
.copy_right_footer{
    margin-top: 50px;
    bottom:0;
    color: black;
    text-shadow: 2px 2px #999999;
    font-weight: bold;
    width: 100%;
    position: fixed;
    background: white;
}